* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'bebas neue';
    src: url('/fonts/BebasNeue-Regular.ttf') format('woff');
}

body {
    background-color: #E39695;
}
